
px2rem(px) 
    (px / 75*1) * 1rem


html,body,ul,li,div,p,img{
    margin:0;
    padding:0;
    list-style none
    box-sizing border-box
}
input{
    outline none
    border none
    text-indent 2em
}